"<div style='padding:32px; text-align:center; border: 1px rgba(0,0,0,.3); border-radius:32px ; background-color:#cccc55'>"
				
							+"<div>"
								+"<img src='https://www.aceleragep.com.br/src/img/acelera-logo-redimensionado.png'>"
							+"</div>"
								
							+"<div>"	
								+"<p style='color: #ffffff; font-size:14pt; font-weight: bolder; '>"
									+ "%s Seja bem vindo senhor(a) %s."
								+ "</p>"
							+"<div>"
								
							+"<div>"
								+"<p style='font-weight: bolder;'>"
									+ "Estamos aqui para avisar que seu cadastrado em nosso sistema já está pronto."
								+ "</p>"
							+"</div>"
							
							+"<div>"
								+"<p style='color: #0000ff;'>"
									+ "Venha conhecer nosso website, click no botão abaixo:"
								+ "</p>"
							+"</div>"
								
							+"<div>"
								+"<a href='https://www.aceleragep.com.br'>"
								+ 	"<input type='button'value='Visite Nosso Site' >"
								+ "</a>"
							+"</div>"
								
							+"<div>"
								+"<p>Atenciosamente Equipe Acelera G&P, acelerando junto com você.</p>"
							+"</div>"
								
						+"</div>"